@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="results">
        <h1>Movies</h1>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <p>@movie.Title (@movie.Year)</p>
                <p>Rated @movie.MPAA_Rating</p>
                <div class="reviews">
                    <div>
                        Rotten Tomatoes
                        <h3>
                            @movie.Rotten_Tomatoes_Rating
                        </h3>
                    </div>
                    <div>
                        IMBD
                        <h3>
                            @movie.IMDB_Rating
                        </h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" value="@Model.search"/>
        <input type="submit" value="Search" />

        <div class="checkbox-list">
            <h4>Filter By Rating</h4>
            <label>
                <input type="checkbox" value="G" name="rating" checked="@Model.rating.Contains("G")"/>
                Rated G
            </label>

            <label>
                <input type="checkbox" value="PG" name="rating" checked="@Model.rating.Contains("PG")"/>
                Rated PG
            </label>

            <label>
                <input type="checkbox" value="PG-13" name="rating" checked="@Model.rating.Contains("PG-13")"/>
                Rated PG-13
            </label>

            <label>
                <input type="checkbox" value="R" name="rating" checked="@Model.rating.Contains("R")"/>
                Rated R
            </label>

            <label>
                <input type="checkbox" value="NC-17" name="rating" checked="@Model.rating.Contains("NC-17")"/>
                Rated NC-17
            </label>
        </div>
         
        <h4>Review Scores</h4>
        <label>
            Minimum IMDB Rating:
            <input type="number" min="0" max="10" step="0.1" name="minIMBD" value="@Model.minIMBD"/>
        </label>
        <label>
            Maximum IMDB Rating:
            <input type="number" min="0" max="10" step="0.1" name="maxIMBD" value="@Model.maxIMBD"/>
        </label>
    </form>
</div>





